// == Mixins =========================

// -- Fonts --------------------------
$primary-font-family: 'Avenir', 'Arial', sans-serif
$secondary-font-family: 'Barrio', cursive

// -- Colours -----------------------
$theme-color-dark: #001F20

// -- Inclusions --------------------
=background-size($size)
  -webkit-background-size: $size
  moz-background-size: $size
  -o-background-size: $size
  background-size: $size

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius
  
=transform($transformation)
  -ms-transform: $transformation
  -webkit-transform: $transformation
  transform: $transformation

=transition($transition)
  -webkit-transition: $transition
  transition: $transition